.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



.underline {
    color: blueviolet !important;
    text-decoration: underline !important;
}

/* .link-active {
  border-bottom: 2px solid red;
  height: 45px !important;
} */

.active {
    height: 45px !important;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}