{% extends "home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_items %}
    <div class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Grupos de Pesquisa</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="profile">Cadastro Usuário</a>
    </div>
    <div class="nav-item active">
        <a class="nav-link" href="article">Cadastro de Artigos</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="user">Lista de Usuários</a>
    </div>
{% endblock %}

{% block mainBody %}
<div class="container p-5">
    <form class="p-5 w-50" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-4">Criar Perfil</button>
    </form>
</div>
{% endblock %}